:root {
    --primary--color: #0061b0;
    --delete--color: #d9534f;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    padding: 20px;
}

h1 {
    color: var(--primary--color);
    margin-top: 35px;
}

p {
    text-align: center;
}

.btn {
    color: #fff;
    background: var(--primary--color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
    border: 1px solid var(--primary--color);
}

.money-img {
    width: 150px;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
}

.currency input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: var(--primary--color);
    font-size: 14px;
    padding: 0 10px;
}

select:focus, input:focus, button:focus {
    outline: 0;
}

@media(max-width: 600px){
.currency input {
    width: 200px;
}
}

.live-rates-container {
    
    width: 80%; 
    text-align: center;
}

.live-rates-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: center;  
    margin-top: 20px;
    margin-bottom: -50px;
}

#first-row {
  margin-bottom: -90px;
}

.main {
    padding-top: 50px;
}

.main img {
    width: 50%;
}

.border-right {
    width: 1px;
    height: 250px;
    background-color: grey;
}

h3 {
    color: var(--primary--color);
}

.main-x-rate {
    color: var(--primary--color);
}

img {
    width: 50%;
}


/* add new currency rows */

.btn.delete-btn {
 background-color: var(--delete--color);
 border: 1px solid var(--delete--color);
}

.add-new-currency {
    margin-top: 100px;
}

.img-invisible img.hidden {
visibility: hidden;
}

.live-rate h2.hidden {
    display: none;
}

.img-invisible .live-rate.main {
    padding-top: 72px;
}